.row-wrapper {
  overflow: hidden;
}

.row {
  margin: -10px;
}

.row > .column {
  padding: 10px;
}

.row-large {
  margin: -20px;
}
.row-large > .column {
  padding: 20px;
}

.row-medium {
  margin: -20px -16px;
}
.row-medium > .column {
  padding: 20px 16px;
}

.row-middle {
  margin:  -12px -20px;
}
.row-middle > .column {
  padding: 12px 20px;
}

.row-small {
  margin: -1px;
}
.row-small > .column {
  padding: 1px;
}

.row-footer {
  margin: 0 -16px;
}
.row-footer > .column {
  padding: 0  16px;
}

.row-expertise > .column {
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
}

@media (min-width: 480px) {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .row-large {
    margin: -30px;
  }
  .row-large > .column {
    padding: 30px;
  }

  .row-medium {
    margin: -30px -23px;
  }
  .row-medium > .column {
    padding: 30px 23px;
  }

  .row-middle {
    margin:  -14px -20px;
  }
  .row-middle > .column {
    padding: 14px 20px;
  }

  .row-footer {
    margin: 0 -23px;
  }
  .row-footer > .column {
    padding: 0  23px;
  }
}

@media (min-width: 640px) {
  .row-large {
    margin: -50px;
  }
  .row-large > .column {
    padding: 50px;
  }

  .row-medium {
    margin: -40px -33px;
  }
  .row-medium > .column {
    padding: 40px 33px;
  }

  .row-middle {
    margin:  -24px -40px;
  }
  .row-middle > .column {
    padding: 24px 40px;
  }

  .row-footer {
    margin: 0 -33px;
  }
  .row-footer > .column {
    padding: 0  33px;
  }
}
