h1 {
  text-transform: uppercase;
  text-align: center;
  color: blue;
  letter-spacing: 10px;
}

p::first-letter {
  font-weight: bold;
}

p {
  line-height: 2;
  text-indent: 40px;
}

li:nth-child(odd) {
  color: red;
}

.nav {
  text-decoration: underline;
  text-align: center;
}

a:hover {
  color: green;
}
.nav.is:active {
  color: red;
}
a {
  color: black;
}

tr:nth-child(odd) {
  background-color: red;
  color: white;
}

tr:nth-child(even) {
  background-color: black;
  color: white;
}
